body {
	margin: 0;
	padding: 0;
}
body, .body_bg{
	background: #ebebeb url(../images/themesgray/body_bg.jpg) left top repeat;
}

form.entityForm, form.coc-form, 
form.entityForm .CbT, form.coc-form .CbT,
form.entityForm .input, .coc-input, 
form.entityForm .select, .coc-select,
form.entityForm .textarea, .coc-textarea,
.entityToolbar, .coc-toolbar,
.entityToolbar input, .coc-toolbar input,
.entityToolbar select, .coc-toolbar select,
.entityToolbar .CbT,  .coc-toolbar .CbT,
.entityToolbar .entityFieldBox .CbT, .coc-fld .CbT,
.PnHT,
#AlBM,#AlC .AlBt,#AlHC,#AlHT span
{
	font-family: "微软雅黑", Arial, Times;
}
/** 
 * Alerts Box 
 */
#AlHL,#AlHT,#AlHR,#AlHC {
	background-color: #3f9ff7;
	background-image: url(../images/themesgray/dialog_title_bg.png);
	background-position: -36px 0;
	color: #ffffff;
}

#AlHT span {
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#AlBP,#AlBtP,#AlBL,#AlBtL,#AlBR,#AlBtR,#AlFL,#AlFC,#AlFR {
	background-color: #EEEEEE;
}

#AlHC,#AlHR,#AlHT,#AlHL {
	border-top: 1px solid #999999;
}

#AlBL,#AlBtL,#AlFL,#AlHL {
	border-left: 1px solid #999999;
}

#AlBR,#AlBtR,#AlFR,#AlHR {
	border-right: 1px solid #999999;
}

#AlFL,#AlFC,#AlFR,#AlHC,#AlHR,#AlHT,#AlHL {
	border-bottom: 1px solid #999999;
}

#AlBI {
	background-image: url(../images/themesgray/alerts.png);
}

#AlHC div {
	background-image: url(../images/themesgray/panel.png)
}
/**
 * Panel
 */
.PnB,.PnH,.WdH,.Wd,.WdB,.WdF,.WdB>.PnBC {
	border-color: #999999;
}

.PnHBC,.PnHBN,.PnHBX,.PnHBR,.PnHBL,.PnHBE {
	background-image: url('../images/themesgray/panel.png');
}

.PnB {
	background: #ffffff url('../images/themesgray/panel_bg.jpg') left top repeat;
	color: #000000;
}

.PnH {
	background-color: #3f9ff7;
	background-image: url('../images/themesgray/dialog_title_bg.png');
	background-repeat: repeat-x;
	background-position: 0 0;
	/*
	background: -webkit-linear-gradient(top, #cccccc 0, #999999 100%);
	background: -moz-linear-gradient(top, #cccccc 0, #999999 100%);
	background: -o-linear-gradient(top, #cccccc 0, #999999 100%);
	background: linear-gradient(to bottom, #cccccc 0, #999999 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#999999, GradientType=0 );
	*/
}
.PnHT{
	color: #ffffff;
}

.WdB {
	background-color: #ffffff;
}

.WdB>.PnBC {
	background-color: #ffffff;
}

.DlTB { /* Dialog Tool Bar */
	background: transparent;
}

.DlBS { /* Dialog Buttons */
	background: transparent;
}
.entityButtons button, .coc-btns button,
.DlBS input[type=submit], 
.DlBS button, 
.DlTB input[type=submit], 
.DlTB button, 
.coc-btn
{
	border: 1px solid #999999;
	background-color: transparent;
	font-family: "微软雅黑", Arial, Times;
}
.DlBS input[type=submit]:hover, .DlTB input[type=submit]:hover, .DlBS button:hover, .DlTB button:hover, div.entityButtons button:hover, .coc-btn:hover{
	background-color: #cccccc;
}
/**
 * GRID
 */
.datagrid-cell a{
	color: #000000;
}
.datagrid-row-over a:hover{
	color: #ff9900;
}
.datagrid-row-alt {
	background: #ffffff;
}

.datagrid-row-over,.datagrid-header td.datagrid-header-over {
	background: #e0f0ff;
}

.datagrid-row-selected {
	background: #95cdff;
	color: #ffffff;
}
.datagrid-row-selected a{
	background: #95cdff;
	color: #ffffff;
}

.datagrid-header {
	background-color: #cccccc;
}

.datagrid-td-rownumber {
	background-color: #f8f8f8;
}

.datagrid-toolbar,.datagrid-pager {
	background: #cccccc;
}

.datagrid-header,.datagrid-toolbar,.datagrid-pager,.datagrid-footer-inner {
	border-color: #b8b8b8;
}

.datagrid-header td,.datagrid-body td,.datagrid-footer td {
	border-color: #999999;
}
/*
 * Tree
 */
.tree_container {
	border: 1px solid #b8b8b8;
}

.TrN-H { /* Tree Node Hover */
	background: #e0f0ff;
	color: #000000;
}

.TrN-S { /* Tree Node Selected */
	background: #95cdff;
	color: #000000;
}

/**
 * Tabs
 */
/* Tabs Header 整个背景 */
.tabs-wrap .tabs{
	padding-top: 5px;
}

.tabs-header, 
.tabs-tool {
	background-color: #DFDFDF;
}

.tabs-header-bottom .tabs-tool {
	padding-top: 8px;
}

.tabs li{
	padding: 1px;
}

.tabs li a.tabs-inner {
	background-color: #cccccc;
}

.tabs li a.tabs-inner,
.tabs li a.tabs-inner:hover {
	color: #000000;
}

.tabs li,
.tabs li.tabs-selected{
	background-color: #ffffff;
}

.tabs li a.tabs-inner:hover,
.tabs li.tabs-selected a.tabs-inner {
	background-color: #95cdff;
}

.tabs-scroller-left, 
.tabs-scroller-right, 
.tabs li a.tabs-close {
	background-image: url('../images/themesgray/ui_tabs.png');
}

.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li.tabs-selected,
.tabs li {
	border-color: #999999;
}
/**
 * 表单内部的tabs样式
 */
.tabs2 .tabs-wrap .tabs{
	padding-top: 5px;
}

.tabs2 .tabs-header, 
.tabs2 .tabs-tool {
	background-color: transparent;
}

.tabs2 .tabs-header{
	border-width: 0;
}

.tabs2 .tabs li{
	padding: 1px;
}

.tabs2 .tabs li,
.tabs2 .tabs li a.tabs-inner{
	background-color: #f1f1f1;
}

.tabs2 .tabs li:hover,
.tabs2 .tabs li a.tabs-inner:hover,
.tabs2 .tabs li a.tabs-inner，
.tabs2 .tabs li.tabs-selected, 
.tabs2 .tabs li a.tabs-inner:hover, 
.tabs2 .tabs li.tabs-selected a.tabs-inner{
	background-color: #cccccc;
}

.tabs2 .tabs-scroller-left, 
.tabs2 .tabs-scroller-right, 
.tabs2 .tabs li a.tabs-close {
	background-image: url(none);
}

.tabs2 .tabs-header, 
.tabs2 .tabs-scroller-left, 
.tabs2 .tabs-scroller-right, 
.tabs2 .tabs-tool, 
.tabs2 .tabs, 
.tabs2 .tabs-panels, 
.tabs2 .tabs li {
	border-color: #939393;
}

/*
 * 表单
 */
.entityGroup, .coc-grp 
{
	background-color: #ffffff;
}
.entityGroupHeader, .coc-grph 
{
	border-color: #999999;
	background-color: #cccccc;
	color: #383838;
}

.entityFieldHeader, .coc-fldh,
.entityFieldBox, .coc-fld 
{
	border-color: #c1c1c1;
	color: #383838;
}
.entityFieldHeader, .coc-fldh
{
	background-color: #f1f1f1;
}
.entityFieldBox, .coc-fld
{
	background-color: #ffffff;
}

.entityFieldBox .input, .coc-input,
.entityFieldBox .select, .coc-select,
.entityFieldBox .textarea, .coc-textarea,
.entityFieldBox .CbB, .coc-fld .CbB,
.entityToolbar .CbB, .coc-toolbar .CbB
{
	border-color: #999999;
}