/* 业务表单 */
form.entityForm, form.coc-form
{
	padding-right: 4px;
}

/*业务分组TABLE*/
.entityGroup, .coc-grp
{
	width: 100%;
	border: 0px;
	margin: 2px 5px 2px 0;
	padding: 2px 2px 3px 2px;
}

form.entityForm>table, .coc-form>table,
.entityGroup>table, .coc-grp>table
{
	BORDER-COLLAPSE: collapse;
	border: 0;
	cell-padding: 0;
	cell-spacing: 0;
	margin-bottom: 10px;
}

.entityGroupHeader, .coc-grph
{
	padding: 8px;
	border: 1px solid;
	text-align: center;
	margin-bottom: 1px;
	font-weight: bold;
	font-size: 16px;
}
/*业务字段名称TD*/
.entityFieldHeader, .coc-fldh
{
	width: 80px;
	height: 28px;
	white-space: nowrap;
	border: 1px solid;
	text-align: right;
	padding: 2px 5px 2px 2px;
	font-weight: normal;
}
/*业务字段输入框TD*/
.entityFieldBox, .coc-fld 
{
	width: 250px;
}

.entityFieldBox, .coc-fld,
.entity-field-grid-box 
{
	border: 1px solid;
	padding: 5px;
	height: 28px;
}

.entityFieldBox, .coc-fld,
.entityFieldBox input, .coc-fld input,
.entityFieldBox textarea, .coc-fld textarea,
{
	font-size: 14px;
}

.entityFieldBox .CbB, .coc-fld .CbB,
.entity-field-grid-box .CbB
{
	height: 24px;
}
/*INPUT/SELECT/TEXTAREA等输入框*/
.entityFieldBox .CbB, .coc-fld .CbB,
.entityFieldBox .input, .coc-input,
.entityFieldBox .select, .coc-select,
.entityFieldBox .textarea, .coc-textarea
{
	border: 1px solid;
}

.entityFieldBox .input, .coc-input,
.entityFieldBox .select, .coc-select,
.entityFieldBox .textarea, .coc-textarea,
.entityFieldBox .select option, .coc-select option
{
	width: 200px;
	height: 24px;
	margin: 0;
	padding: 0px;
}

.entityFieldBox .select, .coc-select
{
	width: 202px;
	height: 26px;
	padding: 1px;
}

.entityFieldBox .textarea, .coc-textarea
{
	width: 80%;
	height: 60px;
	overflow: auto;
}

/*批处理表单：字段标签在顶部*/
.entityTableTop .entityFieldHeader, .coc-tbltop .coc-fldh,
.entityTableTop .entityFieldBox, .coc-tbltop .clcfld
{
	width: auto;
	padding: 2px;
	text-align: left;
}

.entityTableTop .entityRowOp, .coc-tbltop .coc-rowbtn
{
	cursor: pointer;
	font-weight: bold;
	padding: 0 4px 0 4px;
	margin: 0;
	font-size: 18px;
}

.entityTableTop .entityRowTemplate, .coc-tbltop .coc-rowtpl
{
	display: none;
}

.entityButtons, .coc-btns
{
	text-align: left;
	margin: 0px;
}

.entityButtons input, .coc-btns input
{
	width: 60px;
	height: 30px;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.Wd .dialog-buttons, 
.Wd .dialog-toolbar {
	display: none;
}

.searchTable .entityFieldHeader, .coc-query .coc-fldh
{
	background-color: transparent;
	border: 0;
	padding: 1px;
	width: 10px;
}

.searchTable .entityFieldBox, .coc-query .coc-fld 
{
	background-color: transparent;
	border: 0;
	width: 150px;
	padding: 1px;
}

.searchTable .entityFieldBox .input, .coc-query .coc-fld .coc-input,
.searchTable .entityFieldBox .select, .coc-query .coc-fld .coc-select,
.searchTable .entityFieldBox .textarea, .coc-query .coc-fld .coc-textarea
{
	width: 150px;
}

.searchTable .Hidden, .coc-hidden
{
	display: none;
}

.entityToolbar .CbB, .coc-toolbar .CbB
{
	border: 1px solid;
}

.entityButtons button, .coc-btns button,
.DlBS input[type=submit], 
.DlBS button, 
.DlTB input[type=submit], 
.DlTB button, 
.coc-btn
{
	cursor: pointer;
	weight: bold;
	padding: 4px 5px 4px 5px;
	letter-spacing:4px;
	text-indent: 4px;
	font-weight: bold;
	font-size: 12px;
	margin: 0 3px 0 3px;
}