/**
 * Window, Window Shadow
 */
.Wd {
	/*不能hidden,否则Combobox下拉框等将不能显示*/
	/*overflow: hidden;*/
}

.Wd,.WdS {
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	
	/* 圆角 */
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

/**
 * Window Header
 */
.WdH,.WdH .PnHR,.WdH .PnHC,.WdH .PnHT {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.WdH {
	height: 23px;
	border: 1px solid;
}

.WdH .PnHR,.WdH .PnHC,.WdH .PnHT {
	height: 100%;
}

/* Window Header */
.WdH { 
	/**
	 * 1. Using image set header radius border and gradient background 
	 */
	 /*
	background: url(./images/dialog/dialog_top_left.gif) no-repeat;
	padding-left: 5px;
	border-bottom: 0px solid #8a8a8a;
	*/

	/**
	 * 2. Using CSS set header radius border and gradient background
	 */
	/* Radius Border */
	border-bottom: 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	
	/* Header Gradient Background Color */
	background-repeat: repeat-x;
	padding: 5px;
	height: 25px;
}

/* Window Header > Panel Header Right */
.WdH .PnHR { 
	/*  Using image set header radius border and gradient background */
	/*
	background: url(./images/dialog/dialog_top_right.gif) no-repeat 100% 0;
	*/
	padding-right: 5px;
}

/* Window Header > Panel Header Center */
.WdH .PnHC { 
	/*  Using image set header radius border and gradient background */
	/*
	background: url(./images/dialog/dialog_top_mid.gif) repeat-x;
	*/
}

/* Window Header > Panel Header Title*/
.WdH .PnHT {
	padding: 4px 0 0 8px;
}

/**
 * Window Header Title With Logo
 */
.WdH .PnHT-WL {
	padding-left: 25px;
}


/* Window Header > Panel Header Button */
.WdH .PnHB {
}

/**
 * Window Body 
 */
.WdB {
	overflow: hidden;
	padding: 0 1px 0 1px;
	border-width: 0 1px 0 1px;
	border-style: solid;
}

/* Window Header Body No Header*/
.WdB-NH {
	border-top-width: 1px;
}

/* Window Content */
.WdB > .PnBC {
	margin: 6px;
	padding: 6px;
	border: 1px solid;
}

/**
 * Window Footer
 */
.WdF,.WdF .PnFR,.WdF .PnFC {
	display: block;
	overflow: hidden;
	height: 12px;
	padding: 0;
	margin: 0;
}

/* Window Footer */
.WdF { 
	/*  Using image set footer radius border */
	/*
	background: url(./images/dialog/dialog_bottom_left.gif) no-repeat 0 -8px;
	padding-left: 5px;
	*/
	height: 2px;
	background-color: transparent;
	border: 1px solid;
  	border-top-width: 0;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}

/* Window Footer > Panel Footer Right */
.WdF .PnFR { 
	/* Using image set footer radius border */
	/*
	background: url(./images/dialog/dialog_bottom_right.gif) no-repeat 100% -8px;
	padding-right: 5px;
	*/
}

/* Window Footer > Panel Footer Center */
.WdF .PnFC { 
	/*Dialog bottom-middle background image*/
	/*
	background: url(./images/dialog/dialog_bottom_mid.gif) repeat-x 0 -8px;
	*/
}

/**
 * Window Proxy for Dragging or Resizing 
 */
.WdP {
	position: absolute;
	overflow: hidden;
	border: 1px dashed #5c5c5c;
}

/**
 * Window Proxy Mask for Resizing 
 */
.WdPM {
	position: absolute;
	filter: alpha(opacity = 5);
	opacity: 0.05;
	background: #ccc;
}

/**
 * Window Mask 
 */
.WdM {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 1px;
	*zoom: 1;
	overflow: hidden;
	filter: alpha(opacity = 40);
	opacity: 0.40;
	background: #000000;
}

/** 
 * Window Shadow 
 */
.WdS {
	background: #ffffff;
	/* Shadow Radius */
	-moz-box-shadow: 4px 4px 4px #cccccc;
	-webkit-box-shadow: 4px 4px 4px #cccccc;
	box-shadow: 4px 4px 4px #cccccc;
	filter: progid : DXImageTransform.Microsoft.Blur ( pixelRadius = 4, MakeShadow = false, ShadowOpacity = 0.2 );
}

/* Simple Window: Content Without Border */
.window-simple .WdB {
	border: 1px solid #bcbcbc;
	padding: 0px;
}
.window-simple .WdB > .PnBC {
	border: 0;
	margin: 4px 8px 8px 8px;
	background-color: transparent;
}

.window-noheader .PnHL, .window-noheader .PnHT, .window-noheader .PnHB {
	display: none;
}
.window-messager .WdB{
	border: 1px solid #bcbcbc;
	padding: 0px;
	background: #F1F1F1;
}
.window-messager .WdB > .PnBC {
	border: 0;
	margin: 5px;
	background-color: transparent;
}